h1 {
    text-align: center;
    padding-top: 10%;
    font-size: 45px;
}

p {
    text-align: center;
    font-size: 20px;
    font-weight: 500px;
}

.text-center {
    box-sizing: content-box;
    width: 550px;
    margin-left: 25rem;
}

.action {
    text-align: center;
}

.action input {
    border-radius: 15px;
    background-color: transparent;
    width: 200px;
    height: 80px;
    font-size: 17px;
    color: white;
    margin: 20px;
    border-color: rgb(6, 205, 255);
    border-style: outset;
}