<br>
<div class="text-center">
    <h1>{{title}}</h1>
    <p>
        {{changes}}
    </p>

</div>
<div class="action">
    <input href="#" type="button" value="GET STARTED" (click)="message()">
</div>