nav {
    background: transparent;
    overflow: hidden;
}

ul {
    list-style: none;
    font-size: 21px;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
}

ul li {
    float: left;
}

nav ul li {
    float: right;
}

ul li a {
    padding: 15px 35px;
    display: block;
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    background: rgba(0, 132, 255, 0.623);
}