<nav>
    <ul>
        <app-logo [changeLogo]="'Your Logo'"></app-logo>
    </ul>
    <ul>
        <li *ngFor="let page of pages">
            <a [routerLink]="[page]">{{page.slice(0).toUpperCase()}}</a>
        </li>
    </ul>
</nav>