<div>
    <app-card [changes]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Error corporis inventore facilis at iste consequuntur ut vel ipsum. Laudantium quam consequatur quae aut quos voluptatum corrupti a ea commodi delectus?'" [title]="'About'"></app-card>
</div>