.logo {
    width: 8px;
    height: 8px;
    border: 4px solid white;
    border-radius: 60%;
    padding: 8px;
    float: left;
    margin-top: 10px;
}

.tex {
    inline-size: 100px;
    margin-left: 30px;
    margin-top: -6px;
    color: white;
    font-size: 22px;
    padding: 0px 5px;
}